*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: linear-gradient(45deg, #904590, #e96f4b, #f6c96e);
  margin: 0;
  padding: 0;
}

.calculator-grid {
  min-height: 100vh;

  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

  @media (max-width: 450px),(max-height: 650px) {
    .calculator-grid {
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(80px, auto) repeat(5, 80px);
    }
  }

  @media (max-width: 350px), (max-height: 500px) {
    .calculator-grid {
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: minmax(65px, auto) repeat(5, 65px);
    }
  }

button {
  background-color: rgba(255, 255, 255, .125);
  border: 1px solid rgba(255, 255, 255, .125);
  color: rgba(255, 255, 255, .675);
  cursor: pointer;
  font-size: 2em;
  outline: none;
}

button:hover {
  background-color: rgba(255, 255, 255, .25);
  color: rgba(255, 255, 255, 1);
}

button[data-operator], #round-left-corner, #round-right-corner {
  font-size: 2.75em
}

  @media (max-width: 450px),(max-height: 650px) {
    button {
      font-size: 1.625em;
    }
    button[data-operator], #round-left-corner, #round-right-corner {
      font-size: 2.25em;
    }
  }

  @media (max-width: 350px), (max-height: 500px) {
    button[data-operator], #round-left-corner, #round-right-corner {
      font-size: 1.75em
    }
  }

#round-left-corner {
  border-bottom-left-radius: 0.375em;
}

#round-right-corner {
  border-bottom-right-radius: 0.375em;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .375);
  border-radius: 0.75em 0.75em 0 0;
  
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
}

.previous-calculation {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5em;
}

.current-number {
  color: white;
  font-size: 2.5em;
}

@media (max-width: 450px),(max-height: 650px) {
  .previous-calculation {
    font-size: 1.125em;
  }
  .current-number {
    font-size: 2em;
  }
}


@media (max-width: 350px), (max-height: 500px) {
  .previous-calculation {
    font-size: 1em;
  }
  .current-number {
    font-size: 1.725em;
  }
}


